<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803146229088-cs8vv4924ts5t10gr49p0t4t3d4dkh1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803146229088-cs8vv4924ts5t10gr49p0t4t3d4dkh1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4CCsexVCmgLDJ1mZVFYRSEOk83tYoF8</string>
	<key>GCM_SENDER_ID</key>
	<string>803146229088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servicenow.agentdemo</string>
	<key>PROJECT_ID</key>
	<string>performance-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>performance-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:803146229088:ios:030e17290044f4f9672a05</string>
	<key>DATABASE_URL</key>
	<string>https://performance-demo-app.firebaseio.com</string>
</dict>
</plist>
